<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean id="personDao" class="ru.otus.spring.dao.PersonDaoSimple">
    </bean>

    <bean id="personService" class="ru.otus.spring.service.PersonServiceImpl">
        <constructor-arg name="dao" ref="personDao"/>
    </bean>-->

    <bean id="questionsFile" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg name="path" value="QuestionsAnswers.csv"/>
    </bean>

    <bean id="questionRepository" class="ru.otus.examinator.repository.QuestionRepositoryImpl">
        <constructor-arg name="resource" ref="questionsFile"/>
    </bean>

    <bean id="questionService" class="ru.otus.examinator.service.QuestionService">
        <constructor-arg name="repository" ref="questionRepository"/>
    </bean>







</beans>

